@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
:root {
  --blue--900: #1a374d;
  --blue--600: #406882;
  --blue--300: #6998ab;
  --blue--100: #b1d0e0;

  --white--100: #fff8f3;

  --red--400: #ff5677;
  --red--200: #ec255a;
  --red--100: #ff5151;

  --grey--200: #393e46;
  --grey--500: #252525;
  --grey--900: #121013;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  height: 3rem;
  background: var(--blue--900);
  opacity: 0.7;
  box-shadow: 0px 8px 17px 3px rgba(137, 147, 214, 0.82);
}

.logo h1 {
  margin: 0;
  color: var(--white--100);
  /* opacity: 0.7; */
  font-family: "Neonderthaw", cursive;
}
.cart-amout {
  position: relative;
  font-size: 1.5em;
  color: var(--white--100);
  background: transparent;
}

.amout {
  position: absolute;
  background-color: var(--red--200);
  color: white;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.5em;
  font-weight: bold;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.container {
  margin: 1rem 2rem;
  max-width: 100%;
}

.item-wrapper {
  display: flex;
  max-width: 100%;
  border-radius: 0.25em;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.item-img img {
  border-radius: 0.5em;
  max-width: 50px;
}
.item-info {
  padding: 1rem;
}

.item-title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--blue--900);
}

.msg {
  width: max-content;
  margin: 2rem auto;
  font-size: 2em;
  font-weight: bolder;
  color: var(--blue--900);
  text-transform: capitalize;
}

@media (min-width: 676px) {
  .item-img img {
    max-width: 100px;
  }
  .item-info {
    padding: 1rem 2rem;
    flex-grow: 2;
  }

  .item-title {
    font-size: 1.2em;
  }
  .item-wrapper {
    gap: 1em;
  }
  .item-wrapper:hover {
    /* transform: scale(1.05); */
    box-shadow: 0px 8px 17px 3px rgba(137, 147, 214, 0.82);
    -webkit-box-shadow: 0px 8px 17px 3px rgba(137, 147, 214, 0.82);
    -moz-box-shadow: 0px 8px 17px 3px rgba(137, 147, 214, 0.82);
  }
  .item-price {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--red--100);
  }
  .item-qty {
    padding: 0 1rem;
  }
  .item-qty button {
    font-size: 1.5em;
    transition: all 0.3s ease-in-out;
  }
  .item-qty button:hover {
    transform: scale(1.1);
  }

  .item-quintity {
    margin: 1rem 0;
  }

  .total {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }

  .btn:hover {
    transform: scale(1.1);
    background: transparent;
    color: var(--red--200);
    border: 1px solid grey;
  }

  .clear-item {
    margin-top: 0.5em;
    font-size: 0.6em;
  }
}

.item-price {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--red--100);
}

.item-qty {
  padding: 0 0.5rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-qty button {
  max-width: 100%;
  background-color: transparent;
  color: var(--red--200);
  font-size: 1em;
}

.cart-total {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-size: 1rem;
  font-weight: bold;
}

.clear-all {
  display: block;
  margin: 1rem auto;
  font-size: 1rem;
}

.btn {
  border: 0;
  outline: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  cursor: pointer;
  background: var(--red--200);
  color: wheat;
}
